.main-logo-container {
  text-align: center;
  margin-top: 150px;
}

.main-logo-container a {
  display: none;
}

.main-logo-container img {
  height: 70px;
}

/* override height for ortho image */
#orthomcl-logo img {
  height: 60px;
}

.small-font {
  font-size: 0.85em;
}

.left-just {
  float: left;
  margin-left: 60px;
}

.right-just {
  float: right;
  margin-right: 60px;
}

/* override default oauth style */
.form-container {
  border: 0;
  padding: 0 0 15px;
}

.form-container label {
  display: inline-block;
  margin-right: 10px;
  text-align: right;
  width: 4.5em;
}

.password-form label {
  width: 12em;
}

.form-container .external-links {
  margin-bottom: 20px;
}

.external-links a, external-links a:visited {
  color: blue;
  text-decoration: none;
}

.external-links a:hover {
  color: blue;
  text-decoration: underline;
}

.component-links {
  text-align: center;
  border-top: 2px gray;
}

.component-links img {
  height: 28px;
  padding: 0 6px;
}

.separation-bar {
  display: inline-block;
  padding: 0 6px;
  height: 28px;
  width: 5px;
  border-radius: 2px;
  color: gray;
}

.form-container .input-button {
  margin: 8px 0;
  width: 7em;
}
