<?xml version='1.0' encoding='UTF-8'?>
<web-app version="5.0"
         xmlns="https://jakarta.ee/xml/ns/jakartaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">

  <!-- Need to add this so connection pool to apicomm is shut down -->
  <listener>
    <listener-class>org.gusdb.oauth2.server.ApplicationListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>OAuthService</servlet-name>
    <servlet-class>org.gusdb.oauth2.server.OAuthServlet</servlet-class>
    <init-param>
      <param-name>oauth.config.file</param-name>
      <param-value>${oauthConfigFile}</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>OAuthService</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
    <cookie-config>
      <name>eupathdb-login</name>
    </cookie-config>
  </session-config>

</web-app>
