<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

  <!-- Need to add this so connection pool to apicomm is shut down -->
  <listener>
    <listener-class>org.gusdb.oauth2.server.ApplicationListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>OAuthService</servlet-name>
    <servlet-class>org.gusdb.oauth2.server.OAuthServlet</servlet-class>
    <init-param>
      <param-name>oauth.config.file</param-name>
      <param-value>${oauthConfigFile}</param-value>
    </init-param>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.gusdb.oauth2.eupathdb.ServiceApplication</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>OAuthService</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
    <cookie-config>
      <name>eupathdb-login</name>
    </cookie-config>
  </session-config>

</web-app>
